/* Portfolio Page Styles */

.photos-videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.photos-videos img{
    display: flex;
    width: 25%;
    padding: 10px;
}

.photos-videos img:hover {
    transition: 0.5s;
    opacity: 75%;
}